html {
background: url(bilder/hintergrund.gif);
color: #333;
cursor: default;
}

body {
margin: 4px;
padding: 4px;
}

table {
background: #FFEDE1;
border: 3px double #CC8F66;
empty-cells: hide;
font: 75%/1.3 georgia, serif;
table-layout: fixed;
width: 250px;
}

th, td {
padding: .2em .1em;
text-align: center;
height: 22px;
}

th {
background: #6B462E;
color: #FFFFFF;
}

td {
background: #E6C7B3;
border: 1px solid #CC8F66;
}

td.aux {
background: transparent;
}

td.heute {
background: transparent;
}


/* CSS von Becks */

.button {
  margin: 5px;
  display: block;
  width: 90px;
	font-size: small;
	background: #FFEDE1;
	vertical-align: bottom;
	border: 2px solid #CC8F66;
  padding-left: 1em;
  padding-right: 1em;

}

.buttonposkal {
    text-align: left;
    margin: -100px 300px;
}

.buttonposnav {
    text-align: left;
    margin: 30px 430px;
}

.terminpos {
    text-align: left;
    margin-top: 165px;
    margin-left: 10px; 
}

.termin {
	font-size: 1.2em;
	font-style: italic;
	text-decoration: underline;
}

a {
  color: blue;
	text-decoration: none;
}

a:hover {
  color: rgb(255,0,0) !important;
}

a:visited {
    color: rgb(0,0,255);
}