html {
background: url(bilder/hintergrund.gif);
color: #333;
cursor: default;
}

body {
margin: 4px;
padding: 4px;
}

table {
background: #FFEDE1;
border: 3px double #CC8F66;
empty-cells: hide;
font: 75%/1.3 georgia, serif;
table-layout: fixed;
width: 250px;
}

th, td {
padding: .2em .1em;
text-align: center;
height: 22px;
}

th {
background: #6B462E;
color: #FFFFFF;
}

td {
background: #E6C7B3;
border: 1px solid #CC8F66;
}

td.aux {
background: transparent;
}

td.heute {
background: transparent;
}


/* CSS von Becks */

.button {
  display: block;
  margin: 2px;
  width: 90px;
  color: black;
  font-size: small;
	text-decoration: none;
	border-color: grey;
	background-color: #EEE9E9;
	border-style: solid;
	border-width: 2px;
  padding-left: 1em;
  padding-right: 1em;
}

.button:active {
  border-color: black;
  background-color: #CDC9C9;
  color: white;
  border-width: 2px;
  border-style: inset;
}

.button:visited {
  color: black;
}

.buttonposkal {
    position: absolute;
    top: 80px;
    left: 270px;
}

.buttonposnav {
    position: absolute;
    top: 80px;
    left: 400px;
}

.terminpos {
    text-align: left;
    margin-top: 165px;
    margin-left: 10px; 
}

.termin {
	font-size: 1.2em;
	font-style: italic;
	text-decoration: underline;
}

a {
  color: blue;
	text-decoration: none;
}

a:hover {
  color: black !important;
}

a:visited {
    color: rgb(0,0,255);
}