html {
background: url(bilder/hintergrund.gif);
color: #333;
cursor: default;
}

body {
margin: 4px;
padding: 4px;
}

table {
background: #FFEDE1;
border: 3px double #CC8F66;
empty-cells: hide;
font: 75%/1.3 georgia, serif;
table-layout: fixed;
width: 250px;
height: 165px;
}

th, td {
padding: .2em .1em;
text-align: center;
height: 22px;
}

th {
background: #6B462E;
color: #FFFFFF;
}

td {
background: #E6C7B3;
border: 1px solid #CC8F66;
}

td.aux {
background: transparent;
}


/* CSS von Becks */

.button {
	font-size: small;
	background: #FFEDE1;
	border: 3px solid #CC8F66;
  padding-left: 1em;
  padding-right: 1em;
}

.buttonpos {
    text-align: left;
    margin-top: -105px;
    margin-left: 290px;
}

a {
	text-decoration: none;
}

a:hover {
  color: rgb(255,0,0);
}

a:visited {
    color: rgb(0,0,255);
}